kind: Deployment
apiVersion: apps/v1
metadata:
  name: nfs-client-provisioner
  labels:
    app: nfs-client-provisioner
  namespace: NFS_PROVISIONER_NAMESPACE
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: NFS_PROVISIONER_NAME
            - name: NFS_SERVER
              value: {{ nfs.server | default(127.0.0.1) }}
            - name: NFS_PATH
              value: {{ nfs.shares.path | default('/export') }}
      volumes:
        - name: nfs-client-root
          nfs:
            server: {{ nfs.server | default(127.0.0.1) }}
            path: {{ nfs.shares.path | default('/export') }}